@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<footer id="footer" class="footer-custom" role="contentinfo">
    <div id="footer-inner" class="smaller">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-push-3 col-xs-8 col-xs-push-2">
                    <div class="widget">
                        <div class="corporate-widget text-center">
                            <span class="footer-logo bigger"><img src="~/img/seal.png" /></span><!-- End .footer-logo -->
                            <p>Rick Scott, Governor<br>Ken Detzner, Secretary of State</p>
                            <p>Under Florida law, e-mail addresses are public records. If you do not want your e-mail address released in response to a public records request, do not send electronic mail to this entity. Instead, contact this office by phone or in writing.</p>
                            @*<a href="/site-map" class="btn btn-white v2 btn-border no-radius mb20">Site Map</a>*@
                            <!--<div class="social-icons text-center">
                                <a href="#" class="social-icon icon-facebook add-tooltip" title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="social-icon icon-twitter add-tooltip" title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="social-icon icon-google-plus add-tooltip" title="Google Plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="#" class="social-icon icon-flickr add-tooltip" title="Flickr">
                                    <i class="fa fa-flickr"></i>
                                </a>
                                <a href="#" class="social-icon icon-youtube add-tooltip" title="Youtube">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </div>-->
                            <!-- End .social-icons -->
                        </div><!-- End corporate-widget -->
                    </div><!-- End .widget -->
                </div><!-- End .col-md-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End #footer-inner -->
    <div id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="copyright">&copy; 2016 State of Florida<a href="http://dos.myflorida.com/">Florida Department of State.</a></p>
                </div><!-- End .col-md-6 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End #footer-bottom -->
</footer><!-- End #footer -->